.div7{
    background-color: beige;
    color: rgb(247, 11, 11);
    font-size: 100%;
    padding-left:  30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
}
.grandiv{
    display: flex;
    flex: left;
    width: 95%;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
}
.pic{
    width: 30%;
    height: 100%;
    display: flex;
}
.pi{
    height: 400px;
    width: 300px;
}
.t1{
    width: 100%;
}
nav{
    background-color: rgb(43, 19, 2);
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 50px;
    text-decoration: none;
    font-size: 150%;
    color: white;
}
.head{
    font-size: 300%;
    padding-left: 5%;
}
main{
    height: 400px;
    
    

}
section{
    width: 55%;
    height: 400px;
    float: left;
    margin-left: 5%;


}
aside{
    width: 35%;
    height: 400px;
    float: right;
    margin-right: 5%;
 
 
}
footer{
    background-color: rgb(43, 19, 2);
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
}
.stor{
    color: rgb(43, 19, 2);
}
body{
    background-color: rgba(248, 224, 180, 0.212);
}
.skills{
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;

}


